{{yield}}
<li class="rental">
  {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city.name}}{{/link-to}}
  <div {{action 'imageShow'}}>
    {{#if isImageShowing}}
    <p><img src="{{rental.image}}" alt="{{rental.type}}" /></p>
    {{else}}
    <button>Show Image</button>
    {{/if}}
  </div>
  {{update-rental rental=rental update="update"}}
  <button type="button" {{action 'delete' rental}}>Delete</button>
</li>
